.title {
    background-color: #343a40;
    color: #fff;
    text-align: center;
    margin: 0;
    padding: .5rem;
}

.formCadastro {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    margin: 0 auto;
    padding: 2rem;
}

input {
    width: 650px;
    height: 30px;
    margin-bottom: 1.2rem;
    padding-left: 10px;
    border-radius: 0.20rem;
    border: 1px solid #343a40;
    outline: none;
}

button {
    height: 30px;
    width: 200px;
    background-color: #343a40;
    color: #fff;
    border: none;
    border-radius: .25rem;
    cursor: pointer;
    font-weight: 600;
}

button:hover{
    filter: brightness(0.9);
}

h3:nth-child(2){
    margin-bottom: .5rem;
}

p {
    margin: .5rem 0;
}

p:last-child {
    margin: 0;
}

.card {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 1rem;
    padding: 1rem;
    border: 1px solid #343a40;
    border-radius: 0.25rem;
}

.card:hover{
    background-color: #ccc
}

.divCards {
    display: block;
    margin: 0 auto;
}

.flexColumn {
    display: flex;
    flex-direction: column;
}

button:last-child{
    margin-top: 20px;
}

