*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container {
    max-width: 900px;
    margin: 1rem auto 3rem;
    border: 1px solid #343a40;
    border-radius: .3rem;
    height: auto;
}